@import url(variables.css);

@font-face {
    font-family: "Bold";
    src: url(../storage/font/SF-Pro-Text-Bold.otf);
}
@font-face {
    font-family: "Heavy";
    src: url(../storage/font/SF-Pro-Text-Heavy.otf);
}
@font-face {
    font-family: "Light";
    src: url(../storage/font/SF-Pro-Text-Light.otf);
}
@font-face {
    font-family: "Medium";
    src: url(../storage/font/SF-Pro-Text-Medium.otf);
}
@font-face {
    font-family: "Semi";
    src: url(../storage/font/SF-Pro-Text-Semibold.otf);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.gridcontainerMain{
    margin-left: 3vh;
    margin-right: 3vh;
    display: grid;
    overflow-y: auto;
}
.header{
    height: 10vh;
    position: relative;
    display: flex;
    align-items: center;
}
#icon{  
    filter: invert();
    width: 35px;
}
#title{
    font-size: 3.5vh;
    margin-left: 11vh;
    font-family: "Bold", sans-serif;
    color: #FFFFFF;
}
#menu{
    position: absolute;
    width:35px;
    right: 0;
}
#backgroundtop{
    width:59vh;
    position: absolute;
}
.circlebalance{
    display: flex;
    background-color: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: 60vw;
    border-radius: 50%;
    margin-top: 15vh;
    margin-left: 15vw;
    position: absolute;
    z-index: +1;
    transition: 1s;
    box-shadow: 0px 0px 15px 0px black;
}
.circlebalance:hover{
    box-shadow: 0px 0px 25px 0px white;
    filter: invert();
    transform: scale(1.1);
}
#total{
    font-size: 6vw;
    font-family: "Heavy", sans-serif;
    color: #FFFFFF;
    margin-bottom: 1vw;
}
#balance{
    font-size: 6vw;
    font-family: "Heavy", sans-serif;
    color: #FFFFFF;
    margin-bottom: 1vw;
}
#balancenumber{
    font-size: 6vw;
    font-family: "Heavy", sans-serif;
    color: #FFFFFF;
}
.movements{
    display: flex;
    margin-top: 45vh;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.contain{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 24vw;
    margin-right: 4vw;
    padding: 2vw;
    border-radius: 5vw;
}
.contain2{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--colorSecond-);
    width: 24vw;
    margin-right: 3vw;
    padding: 2vw;
    border-radius: 5vw;
}
#content{
    color: white;
    font-family: "Regular", sans-serif;
}
#content2{
    color: var(--colorSecond-);
    font-family: "Regular", sans-serif;
}
.contain3{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    width: 24vw;
    margin-right: 3vw;
    padding: 2vw;
    border-radius: 5vw;
}
#content3{
    color: gray;
    font-family: "Regular", sans-serif;
}