@import url(variables.css);

@font-face {
    font-family: "Bold";
    src: url(../storage/font/SF-Pro-Text-Bold.otf);
}
@font-face {
    font-family: "Heavy";
    src: url(../storage/font/SF-Pro-Text-Heavy.otf);
}
@font-face {
    font-family: "Light";
    src: url(../storage/font/SF-Pro-Text-Light.otf);
}
@font-face {
    font-family: "Medium";
    src: url(../storage/font/SF-Pro-Text-Medium.otf);
}
@font-face {
    font-family: "Semi";
    src: url(../storage/font/SF-Pro-Text-Semibold.otf);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.gridcontainerMain{
    margin-left: 2vh;
    margin-right: 2vh;
    display: grid;
    overflow-y: auto;
}
.header{
    height: 10vh;
    position: relative;
    display: flex;
    align-items: center;
}
#icon{  
    filter: invert();
    width: 35px;
}
#title{
    font-size: 3.5vh;
    margin-left: 11vh;
    font-family: "Bold", sans-serif;
    color: #FFFFFF;
}
#menu{
    position: absolute;
    width:35px;
    right: 0;
}
#backgroundtop{
    width:59vh;
    position: absolute;
}
.circlebalance{
    display: flex;
    background-color: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55vw;
    height: 52.5vw;
    border-radius: 50%;
    margin-top: 15vh;
    margin-left: 18vw;
    position: absolute;
    z-index: +1;
    transition: 1s;
    box-shadow: 0px 0px 15px 0px black;
}
.circlebalance:hover{
    box-shadow: 0px 0px 25px 0px white;
    filter: invert();
    transform: scale(1.1);
}
#total{
    font-size: 6vw;
    font-family: "Heavy", sans-serif;
    color: #FFFFFF;
    margin-bottom: 1vw;
}
#balance{
    font-size: 6vw;
    font-family: "Heavy", sans-serif;
    color: #FFFFFF;
    margin-bottom: 1vw;
}
#balancenumber{
    font-size: 6vw;
    font-family: "Heavy", sans-serif;
    color: #FFFFFF;
}
.movements{
    display: flex;
    margin-top: 39.5vh;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.contain{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 24vw;
    margin: 2vw;
    padding: 2vw;
    border-radius: 5vw;
}
.contain2{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--colorSecond-);
    width: 24vw;
    margin: 2vw;
    padding: 2vw;
    border-radius: 5vw;
}
#content{
    color: white;
    font-family: "Regular", sans-serif;
}
#content2{
    color: var(--colorSecond-);
    font-family: "Regular", sans-serif;
}
.contain3{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    width: 25vw;
    margin: 2vw;
    padding: 2vw;
    border-radius: 5vw;
}
#content3{
    color: gray;
    font-family: "Regular", sans-serif;
}
#graphic{
    margin-top: 2vh;
    width: 100%;
}
.containerleters{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 27vh;
}
.add{
    display: flex;
    height: 17vh;
    width: 100vw;
    background-color: #E1FFEF;
}
#leter{
    font-family: "Medium", sans-serif;
    margin: 3vh;
}
.bar{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    left: 0;
    height: 10vh;
    width: 100%;
    background-color: var(--colorMain-);
}
.footer{
    position: fixed;
    bottom: 0;
}
.article{
    margin: 5.5VW;
    width: 5vh;
}
#imgcard{
    margin-left: 4vw;
    margin-top: 5vh;
    width: 24vw;
}
#titleadd{
    font-family: "Bold", sans-serif;
    font-size: 5vw;
    margin-left: 6vw;
    margin-top: 6.7vh;
}
#txtadd{
    color: gray;
    font-family: "Regular", sans-serif;
    margin-top: 1vw;
    font-size: 3.5vw;
    margin-left: 6vw;
}
#quit{
    position: absolute;
    margin-top: 1.5vh;
    margin-left: 64vw;
    width: 7vw;
    transition: 1s;
}
#quit:hover{
    transform: scale(1.2);
}