@import url(variables.css);

@font-face {
    font-family: "Bold";
    src: url(storage/font/SF-Pro-Text-Bold.otf);
}
@font-face {
    font-family: "Heavy";
    src: url(storage/font/SF-Pro-Text-Heavy.otf);
}
@font-face {
    font-family: "Light";
    src: url(storage/font/SF-Pro-Text-Light.otf);
}
@font-face {
    font-family: "Medium";
    src: url(storage/font/SF-Pro-Text-Medium.otf);
}
@font-face {
    font-family: "Semi";
    src: url(storage/font/SF-Pro-Text-Semibold.otf);
}
.gridcontainerMain{
    margin: 2vh;
    display: grid;
    overflow-y: auto;
}
.header{
    height: 10vh;
    position: relative;
    display: flex;
    align-items: center;
}
#icon{  
    width: 35px;
}
#title{
    filter: invert();
    font-size: 3.5vh;
    margin-left: 10vh;
    font-family: "Bold", sans-serif;
    color: #FFFFFF;
}
#menu{
    filter: invert();
    position: absolute;
    width:35px;
    right: 0;
}
#title2{
    font-size: 3vh;
    font-family: "Bold", sans-serif;
}
.containerinformation{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.information{
    width: 52%;
    height: 24vh;
}
#pork{
    margin-top: 9vw;
    margin-left: 5vw;
    position: absolute;
    z-index: +1;
    width: 16vh;
}
#ellipse{
    top: 0;
    width: 24vh;
    position: absolute;
}
#point1{
    margin-top: 3vh;
    margin-left: 30vw;
    position: absolute;
    width: 1.5vh;
}
#point2{
    margin-top: 19vh;
    margin-left: 18vw;
    position: absolute;
    width: 3.5vh;
}
.txtinfo{
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
.points{
    transition: 1s;
}
.points:hover{
    transform: scale(0.9);
}
#question{
    color: #33404F;
    margin: 0;
    margin-bottom: 1vh;
    font-size: 2.7vh;
    font-family: "Bold", sans-serif;
}
#name{
    font-size: 2.2vh;
    font-family: "Regular", sans-serif;
    color:  gray;
    margin: 0;
}
#button{
    padding: 2.2vw;
    margin-top: 1vh;
    width:  72%;
    transition: 1s;
    background: var(--colorSecond-);
    border: none;
    border-radius: 5vw;
}
#button:hover{
    transform: rotate(8deg);
}
#txt{
    font-family: "Bold", sans-serif;
    font-size: 2.5vw;
    color: #FFFFFF;
    margin: 0;
}
#titlecards{
    font-family: "Bold", sans-serif;
    margin: 0;
    margin-left: 2vh;
    font-size: 3vh;
    margin-top: 2vh;
}
.scrollcards{
    overflow-x: auto;
    margin-left: 2vh;
    justify-content: center;
    width: 95%;
    height: 40vh;
    align-items: center;
    position: relative;
    grid-template-columns: repeat(4,1fr);
}
.allcards{
    display: flex;
    position: absolute;
}
.cards{
    width: 42.5vw;
    height: 35vh;
    margin: 4vw;
    overflow: hidden;
    position: relative;
    border-radius: 5vw;
    overflow: hidden;
    transition: 1s;
}
.cards:hover,
.cards:active,
.cards:focus{
    transform: rotate(12deg);
    filter: invert();
    border-radius: 5vw !important;
}
#background{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #33404F;
}
#chip{
    margin-top: 3vh;
    margin-left: 3vh;
    width: 2vh;
    position: absolute;
}
#smallnumber{
    margin-top: 3vh;
    margin-left: 27vw;
    position: absolute;
    color: #FFFFFF;
    font-family: "Semi", sans-serif;
    font-size: 3vw;
}
#bignumber{
    margin-top: 16vh;
    margin-left: 12vw;
    position: absolute;
    color: #FFFFFF;
    font-family: "Semi", sans-serif;
    font-size: 4.5vw;
}
#masterc{
    bottom: 3vh;
    margin-left: 3vh;
    width: 3vh;
    position: absolute;
}
.bar{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    position: absolute;
    left: 0;
    height: 10vh;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: var(--colorMain-);
}
.article{
    margin: 5.5VW;
    width: 5vh;
}