@import url(variables.css);

@font-face {
    font-family: "Bold";
    src: url(/storage/font/SF-Pro-Text-Bold.otf);
}
@font-face {
    font-family: "Heavy";
    src: url(/storage/font/SF-Pro-Text-Heavy.otf);
}
@font-face {
    font-family: "Light";
    src: url(/storage/font/SF-Pro-Text-Light.otf);
}
@font-face {
    font-family: "Medium";
    src: url(/storage/font/SF-Pro-Text-Medium.otf);
}
body{
    background: var(--colorMain-);
}
#background{
    position: absolute;
    width: 98%;
    top: 0;
    height: 100vh;
}
.gridcontainerMain{
    margin: 2vh;
    display: grid;
    border: 1px solid red;
    overflow-y: auto;
}
.header{
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid red;
}
#icon{  
    width: 25px;
}
#title{
    font-size: 4vh;
    margin: 2vh;
    font-family: "Bold", sans-serif;
    color: #FFFFFF;
}
#menu{
    position: absolute;
    width:25px;
    right: 0;
}
.greeting{
    display: flex;
    flex-direction: column;
}
#welcome{
    font-family: "Heavy", sans-serif;
    font-size: 6vw;
    color: #FFFFFF;
    margin-bottom: 1vw;
}
#message{
    color: #FFFFFF;
    font-family: "Light", sans-serif;
    margin: 0;
    font-size: 6.5vw;
}
.datacontainer{
    border: 1px solid purple;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.containersub{
    display: flex;
    flex-direction: column;
}
#subtitle{
    margin: 0;
    color: #FFFFFF;
    font-family: "Medium", sans-serif;
}
#price,
#simbol{
    color: #FFFFFF;
}
#subtitle{
    margin-top: 3.3vh;
    font-size:3vw;
}
#price{
    font-size:4.5vw;
    font-family: "Bold", sans-serif;
    margin-top: 2vh;
    margin-bottom: 1.5vw;
}
.containerbar{
    width: 40vw;
    height: 1.2vh;
    border-radius: 25px;
    background-color: #FFFFFF;
}
.colorbar{
    width: 80%;
    height: 1.2vh;
    border-radius: 25px;
    background: var(--colorSecond-);
}
.colorbar2{
    width: 30%;
    height: 1.2vh;
    border-radius: 25px;
    background: var(--colorThird-);
}
.scrollprofile{
    position: absolute;
    bottom: 0;
    overflow-y: auto;
    height: 400px;
    width: 98%;
    background-color: #FFFFFF;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
#titlescroll{
    font-family: "Bold", sans-serif;
    color: var(--colorMain-);
    font-size:2.3vh;
    margin: 3vh;
    margin-top: 6vh;
}
#txt{
    font-family: "Bold", sans-serif;
}
.activities{
    display: flex;
    border-radius: 10px;
    border: 1px solid var(--colorThird-);
    box-shadow: 0px 0px 10px -4px;
}
.scrollactivities{
    overflow-x: auto;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin-top: 6vh;
}
.activities{
    width: 13vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5vh;
}
#Account{
    width: 10vh;
    gap: 10px;
}
.scrolltransactions{
    display: grid;
}
#titletransactions{
    font-family: "Bold", sans-serif;
    color: var(--colorMain-);
    font-size:2.3vh;
    margin: 3vh;
    margin-top: 6vh;
}
#arrow{
    margin-left: 3vh;
    width: 9vh;
}
.transactions{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid purple;
}
#titletransactions{
    font-family: "Bold", sans-serif;
    align-items: center;
    color: var(--colorMain-);
    font-size:2.3vh;
}
.numbers{
    display: flex;
    width: 20%;
    border: 1px solid purple;
}