@import url(variables.css);

@font-face {
    font-family: "Bold";
    src: url(../storage/font/SF-Pro-Text-Bold.otf);
}
@font-face {
    font-family: "Heavy";
    src: url(../storage/font/SF-Pro-Text-Heavy.otf);
}
@font-face {
    font-family: "Light";
    src: url(../storage/font/SF-Pro-Text-Light.otf);
}
@font-face {
    font-family: "Medium";
    src: url(../storage/font/SF-Pro-Text-Medium.otf);
}
body{
    background: var(--colorMain-);
}
#background{
    position: absolute;
    width: 98%;
    top: 0;
    height: 100vh;
}
.gridcontainerMain{
    margin: 2vh;
    display: grid;
    overflow-y: auto;
}
.header{
    height: 10vh;
    position: relative;
    display: flex;
    align-items: center;
}
#icon{  
    filter: invert();
    width: 35px;
}
#title{
    font-size: 3.5vh;
    margin-left: 9vh;
    font-family: "Bold", sans-serif;
    color: #FFFFFF;
}
#menu{
    position: absolute;
    width:35px;
    right: 0;
}
.greeting{
    display: flex;
    flex-direction: column;
}
#welcome{
    font-family: "Heavy", sans-serif;
    font-size: 6vw;
    color: #FFFFFF;
    margin-bottom: 1vw;
}
#message{
    color: #FFFFFF;
    font-family: "Light", sans-serif;
    margin: 0;
    font-size: 6.5vw;
}
.datacontainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.containersub{
    display: flex;
    flex-direction: column;
}
#subtitle{
    margin: 0;
    color: #FFFFFF;
    font-family: "Medium", sans-serif;
}
#price,
#simbol{
    color: #FFFFFF;
}
#subtitle{
    margin-top: 3.3vh;
    font-size:3vw;
}
#price{
    font-size:4.5vw;
    font-family: "Bold", sans-serif;
    margin-top: 2vh;
    margin-bottom: 1.5vw;
}
.containerbar{
    width: 40vw;
    height: 1.2vh;
    border-radius: 25px;
    background-color: #FFFFFF;
}

.colorbar{
    width: 80%;
    height: 1.2vh;
    border-radius: 25px;
    background: var(--colorSecond-);
}
.colorbar2{
    width: 30%;
    height: 1.2vh;
    border-radius: 25px;
    background: var(--colorThird-);
}
.scrollprofile{
    position: absolute;
    bottom: 0;
    overflow-y: auto;
    height: 380px;
    width: 98%;
    transition: 1s;
    background-color: #FFFFFF;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.scrollprofile:hover{
    height: 90vh;
}
#titlescroll{
    font-family: "Bold", sans-serif;
    color: var(--colorMain-);
    font-size:2.3vh;
    margin: 3vh;
    margin-top: 6vh;
}
#txt{
    font-family: "Bold", sans-serif;
}
.activities{
    display: flex;
    border-radius: 10px;
    border: 1px solid var(--colorThird-);
    box-shadow: 0px 0px 10px -4px;
}
.scrollactivities{
    overflow-x: auto;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin-top: 6vh;
    width: 90vw;
}
.activities{
    width: 13vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5vh;
    transition: 1s;
}
#Account{
    width: 10vh;
    gap: 10px;
}
.scrolltransactions{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 250px;
}
#titletransactions{
    font-family: "Bold", sans-serif;
    color: var(--colorMain-);
    font-size:2.3vh;
    margin: 0;
    margin-left: 3vh;
    margin-top: 6vh;
}
#arrow{
    margin: 0;
    margin-left: 3vh;
    width: 8.5vh;
}
.transactions{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.transactions2{
    display: flex;
    width: 100vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#titletransactions2{
    left: 0;
    margin-top: 3vw;
    font-family: "Bold", sans-serif;
    justify-content : center;
    color: var(--colorMain-);
    font-size:2vh;
}
#titletransactions3{
    left: 0;
    margin-top: 3vw;
    font-family: "Bold", sans-serif;
    justify-content : center;
    color: var(--colorMain-);
    font-size:2vh;
}
.numbers{
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: column;
    margin-left: 17vh;
    height: 100%;
    width: 20%;
}
.numbers2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    right: 0;
    margin-left: 24vh;
    width: 20%;
}
#number1{
    margin: 0;
    font-size: 2vh;
    margin-top: 1.5vh;
    font-family: "Bold", sans-serif;
    color: var(--colorMain-);
}
#description{
    font-size: 1.5vh;
    font-family: "Medium", sans-serif;
}
#date{
    font-size: 1.5vh;
    font-family: "Medium", sans-serif;
    color: var(--colorMain-);
}
.bar{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    position: absolute;
    height: 10vh;
    width: 100vw;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: var(--colorMain-);
    bottom: 0;
}
.article{
    margin: 5.5VW;
    width: 5vh;
}