<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/balance.css">
    <title>Virtual wallet Balance</title>
</head>
<body>
    <div class="containertop">
    <img id="backgroundtop" src="../storage/img/Group 216.svg">
    </div>
    <div class="gridcontainerMain">
            <div class="header">
                <img id="icon" src="../storage/img/billetera-digital.png">
                <p id="title">POCKETPAL</p>
                <img id="menu" src="../storage/img/menu.svg">
        </div>
        <div class="circlebalance">
            <p id="total">Total</p>
            <p id="balance">Balance</p>
            <p id="balancenumber">$ 214,417</p>
        </div>
        <div class="movements">
            <div class="contain">
                <p id="content">Assets</p>
            </div>
            <div class="contain2">
                <p id="content2">Debt</p>
            </div>
            <div class="contain3">
                <p id="content3">Income</p>
            </div>
        </div>
        <div class="containgraphic">
            <img id="graphic" src="../storage/img/photo.svg">
        </div>
        <div class="containerleters">
            <p id="leter">S</p>
            <p id="leter">M</p>
            <p id="leter">T</p>
            <p id="leter">W</p>
            <p id="leter">T</p>
            <p id="leter">F</p>
            <p id="leter">S</p>
        </div>
    </div>
    <div class="footer">
        <div class="add">
            <img id="imgcard" src="../storage/img/Group 14.svg">
            <div class="contadd">
                <img id="quit" src="../storage/img/Frame 20.svg">
                <p id="titleadd">Spending.</p>
                <p id="txtadd">You forgot to add debt card number<br>at payment #1323. Add it now.</p>
            </div>
            </div>
        <div class="bar">
            <img class="article" src="../storage/img/name=home.svg">
            <img class="article" src="../storage/img/conten2.svg">
            <img onclick="window.location.href = 'cards.html'" class="article" src="../storage/img/name=menu.svg">
            <img class="article" src="../storage/img/name=message.svg">
            <img onclick="window.location.href = '../index.html'" class="article" src="../storage/img/center2.svg">
        </div>
    </div>
</body>
</html>