<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cards.css">
    <title>Virtual wallet Cards</title>
</head>
<body>
    <div class="gridcontainerMain">
        <div class="header">
            <img id="icon" src="../storage/img/billetera-digital.png">
            <p id="title">POCKETPAL</p>
            <img id="menu" src="../storage/img/menu.svg">
        </div>
            <p id="title2">Investing Tips</p>
            <div class="containerinformation">
                <div class="information">
                    <img id="ellipse" src="../storage/img/Ellipse 1.svg">
                    <img id="pork" src="../storage/img/Group.svg">
                </div>
                <div class="txtinfo">
                    
                </div>
            </div>
    </div>
    
</body>
</html>