<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cards.css">
    <title>Virtual wallet Cards</title>
</head>
<body>
    <div class="gridcontainerMain">
        <div class="header">
            <img id="icon" src="../storage/img/billetera-digital.png">
            <p id="title">POCKETPAL</p>
            <img id="menu" src="../storage/img/menu.svg">
        </div>
            <p id="title2">Investing Tips</p>
            <div class="containerinformation">
                <div class="information">
                    <img id="ellipse" src="../storage/img/Ellipse 1.svg">
                    <div class="points">
                        <img id="pork" src="../storage/img/Group.svg">
                        <img id="point1" src="../storage/img/Ellipse 3.svg">
                        <img id="point2" src="../storage/img/Vector.svg">
                    </div>
                </div>
                <div class="txtinfo">
                    <p id="question">What is an ETF?</p>
                    <p id="name">By James B, PHD</p>
                    <button id="button"><p id="txt">LEARN MORE</p></button>
                </div>
            </div>
    </div>
    <p id="titlecards">My cards (4)</p>
            <div class="scrollcards">
            <div class="allcards">
                    <div class="cards">
                            <img id="background" src="../storage/img/background2.svg">
                            <img id="chip" src="../storage/img/Chip.svg">
                            <p id="smallnumber">**** 6175</p>
                            <p id="bignumber">$ 47,417</p>
                            <img id="masterc" src="../storage/img/Frame 17.svg">
                    </div>
                    <div class="cards">
                        <div class="containerbackground">
                            <img id="background" src="../storage/img/background2.svg">
                            <img id="chip" src="../storage/img/Chip.svg">
                            <p id="smallnumber">**** 6175</p>
                            <p id="bignumber">$ 47,417</p>
                            <img id="masterc" src="../storage/img/Frame 17.svg">
                        </div>
                    </div>
                    <div class="cards">
                            <img id="background" src="../storage/img/background2.svg">
                            <img id="chip" src="../storage/img/Chip.svg">
                            <p id="smallnumber">**** 6175</p>
                            <p id="bignumber">$ 47,417</p>
                            <img id="masterc" src="../storage/img/Frame 17.svg">
                    </div>
                    <div class="cards">
                            <img id="background" src="../storage/img/background2.svg">
                            <img id="chip" src="../storage/img/Chip.svg">
                            <p id="smallnumber">**** 6175</p>
                            <p id="bignumber">$ 47,417</p>
                            <img id="masterc" src="../storage/img/Frame 17.svg">
                        </div>
            </div>
        </div>
<div class="bar">
    <img class="article" src="../storage/img/name=home.svg">
    <img class="article" src="../storage/img/name=content.svg">
    <img class="article" src="../storage/img/menu2.svg">
    <img class="article" src="../storage/img/name=message.svg">
    <img onclick="window.location.href = '../index.html'" class="article" src="../storage/img/center2.svg">
</div>
</body>
</html>